<footer id="footer">
  <ul class="icons">
    <li><a href="http://barcelona.pm" class="icon fa-home"><span class="label">Barcelona Perl Mongers</span></a></li>
    <li><a href="https://twitter.com/barcelonapm" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
    <li><a href="http://www.meetup.com/barcelonapm/" class="icon fa-calendar"><span class="label">Meetup</span></a></li>
    <li><a href="http://www.github.com/barcelonapm/" class="icon fa-github"><span class="label">Github</span></a></li>
    <li><a href="mailto:help@barcelona.pm" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
  </ul>
  <ul class="copyright">
    <li>&copy; Barcelona Perl Mongers</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
  </ul>
</footer>
