section.special {
  text-align: justify;
}

span.fit iframe {
  width: 100%;
  margin-bottom: -9px;
}

.icons {
  text-align: center;
}

#banner h2 {
  text-transform: none;
  font-size: 3em;
  margin-bottom: 120px;
}

#banner h2 .principal {
  font-size: 1.5em;
}

@media screen and (max-width: 736px) {
  #banner h2 {
    text-transform: none;
    font-size: 1.6em;
  }
  #banner h2 .principal {
    font-size: 1.2em;
  }
}

#talk-list h3{
  margin-bottom: 0px;
}

#talk-list h4{
  font-weight: normal;
}

.features li:nth-child(21n + 1) { background-color: rgba(0, 0, 0, 0.035); }
.features li:nth-child(21n + 2) { background-color: rgba(0, 0, 0, 0.07); }
.features li:nth-child(21n + 3) { background-color: rgba(0, 0, 0, 0.105); }
.features li:nth-child(21n + 4) { background-color: rgba(0, 0, 0, 0.14); }
.features li:nth-child(21n + 5) { background-color: rgba(0, 0, 0, 0.175); }
.features li:nth-child(21n + 6) { background-color: rgba(0, 0, 0, 0.21); }
.features li:nth-child(21n + 7) { background-color: rgba(0, 0, 0, 0.245); }
.features li:nth-child(21n + 8) { background-color: rgba(0, 0, 0, 0.28); }
.features li:nth-child(21n + 9) { background-color: rgba(0, 0, 0, 0.315); }
.features li:nth-child(21n + 10) { background-color: rgba(0, 0, 0, 0.35); }
.features li:nth-child(21n + 11) { background-color: rgba(0, 0, 0, 0.35); }
.features li:nth-child(21n + 12) { background-color: rgba(0, 0, 0, 0.315); }
.features li:nth-child(21n + 13) { background-color: rgba(0, 0, 0, 0.28); }
.features li:nth-child(21n + 14) { background-color: rgba(0, 0, 0, 0.245); }
.features li:nth-child(21n + 15) { background-color: rgba(0, 0, 0, 0.21); }
.features li:nth-child(21n + 16) { background-color: rgba(0, 0, 0, 0.175); }
.features li:nth-child(21n + 17) { background-color: rgba(0, 0, 0, 0.14); }
.features li:nth-child(21n + 18) { background-color: rgba(0, 0, 0, 0.105); }
.features li:nth-child(21n + 19) { background-color: rgba(0, 0, 0, 0.07); }
.features li:nth-child(21n + 20) { background-color: rgba(0, 0, 0, 0.035); }
